@model ProjektGG.ViewModels.RecipeModels.EditVM

@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <style>
        .div1 {
            height: 100px;
            min-width: 100px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="text-align:left" href="~/Home/Przepisy"> Przepisy </a>
            </div>
            <div class="navbar-collapse collapse">
                <u1 class="nav navbar-nav0"></u1>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Recipe.ID);
        @Html.HiddenFor(model => model.Recipe.Username);
        @Html.HiddenFor(model => model.Recipe.ImgName);
        <div class="container body-content">
            <h2>Edycja przepisu @Model.Recipe.Name</h2>
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Recipe.Name) : @Html.EditorFor(model => model.Recipe.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Recipe.Description):<br />@Html.TextAreaFor(model => model.Recipe.Description, new { @class = "whatever-class", @rows = 5 })</td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="FileUpload" />
                        <p style="color: red">
                            @Html.ValidationMessage("FormatError")
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Edytuj" class="btn btn-default" /></td>
                </tr>

            </table>
        </div>
    }
</body>
</html>




